# HTTP 代理端口
port: 7890

# SOCKS5 代理端口
socks-port: 7891

# Linux 和 macOS 的 redir 代理端口
redir-port: 7892

# 允许局域网的连接
allow-lan: true

# 规则模式：Rule（规则） / Global（全局代理）/ Direct（全局直连）
mode: Rule

# 设置日志输出级别 (默认级别：silent，即不输出任何内容，以避免因日志内容过大而导致程序内存溢出）。
# 5 个级别：silent / info / warning / error / debug。级别越高日志输出量越大，越倾向于调试，若需要请自行开启。
log-level: info
# Clash 的 RESTful API
external-controller: "0.0.0.0:9090"

# RESTful API 的口令
secret: ""

# 您可以将静态网页资源（如 clash-dashboard）放置在一个目录中，clash 将会服务于 `RESTful API/ui`
# 参数应填写配置目录的相对路径或绝对路径。
# external-ui: folder

dns:
  enable: true
  ipv6: false
  listen: 0.0.0.0:53
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  nameserver:
    - 223.5.5.5
    - 8.8.8.8
    - 119.29.29.29
    - 1.0.0.1

  fallback:
    - https://dns.google/dns-query
    - https://doh.opendns.com/dns-query
    - https://doh.pub/dns-query
    - tls://dns.google
  fallback-filter:
    geoip: true
    ipcidr:
      - 240.0.0.0/4

# Clash DNS 请求逻辑：
# (1) 当访问一个域名时， nameserver 与 fallback 列表内的所有服务器并发请求，得到域名对应的 IP 地址。
# (2) clash 将选取 nameserver 列表内，解析最快的结果。
# (3) 若解析结果中，IP 地址属于 国外，那么 Clash 将选择 fallback 列表内，解析最快的结果。

# 注意：
# (1) 如果您为了确保 DNS 解析结果无污染，请仅保留列表内以 tls:// 开头的 DNS 服务器，但是通常对于国内没有太大必要。
# (2) 如果您不在乎可能解析到污染的结果，更加追求速度。请将 nameserver 列表的服务器插入至 fallback 列表内，并移除重复项。

tun:
  enable: true #如果需要启用 TUN 模式，请设置为 true
  stack: system # 或 gvisor
  macOS-auto-route: true
  macOS-auto-detect-interface: true
  dns-hijack:
    - tcp://8.8.8.8:53
    - tcp://8.8.4.4:53


# 规则
rules:
  # 广告禁止
  - DOMAIN-SUFFIX,access-sngapm.qcloud.com, ⛔️ 广告拦截
  # 本地/局域网地址
  - DOMAIN-SUFFIX,ip6-localhost,🔰 国内直连
  - DOMAIN-SUFFIX,ip6-loopback,🔰 国内直连
  - DOMAIN-SUFFIX,local,🔰 国内直连
  - DOMAIN-SUFFIX,localhost,🔰 国内直连
  - IP-CIDR,10.0.0.0/8,🔰 国内直连
  - IP-CIDR,100.64.0.0/10,🔰 国内直连
  - IP-CIDR,127.0.0.0/8,🔰 国内直连
  - IP-CIDR,172.16.0.0/12,🔰 国内直连
  - IP-CIDR,192.168.0.0/16,🔰 国内直连
  - IP-CIDR,198.18.0.0/16,🔰 国内直连
  - IP-CIDR6,::1/128,🔰 国内直连
  - IP-CIDR6,fc00::/7,🔰 国内直连
  - IP-CIDR6,fe80::/10,🔰 国内直连
  - IP-CIDR6,fd00::/8,🔰 国内直连

  # 直连
  - DOMAIN-SUFFIX,tsinghua.edu.cn,🔰 国内直连
  - DOMAIN-SUFFIX,doubanio.com,🔰 国内直连
  - DOMAIN-SUFFIX,aliyun.com,🔰 国内直连
  - DOMAIN-SUFFIX,edu.cn,🔰 国内直连
  - DOMAIN-SUFFIX,translate.googleapis.com,🔰 国内直连
  - DOMAIN-SUFFIX,battle.net,🔰 国内直连
  - DOMAIN-SUFFIX,gov.cn,🔰 国内直连
  - DOMAIN-SUFFIX,1password.com,🔰 国内直连


  # 出国起飞
  - DOMAIN-SUFFIX,facebook.com,✈️ 起飞出国
  - DOMAIN-SUFFIX,v2ex.com,✈️ 起飞出国
  - DOMAIN-SUFFIX,hk1lib.org,✈️ 起飞出国
  - DOMAIN-SUFFIX,z-lib.org,✈️ 起飞出国
  - DOMAIN-SUFFIX,hk1lib.org,✈️ 起飞出国
  - DOMAIN-SUFFIX,sg1lib.org,✈️ 起飞出国
  - DOMAIN-SUFFIX,zlibcdn.com,✈️ 起飞出国
  - DOMAIN-SUFFIX,apps.apple.com,✈️ 起飞出国
  - DOMAIN-SUFFIX,notion.so,✈️ 起飞出国
  - DOMAIN-SUFFIX,deepl.com,✈️ 起飞出国
  - DOMAIN-SUFFIX,raindrop.io,✈️ 起飞出国
  - DOMAIN-SUFFIX,adguard.com,✈️ 起飞出国
  - DOMAIN-SUFFIX,live.com,✈️ 起飞出国

  # 订阅规则
  - RULE-SET,Disney+,🅳 Disney+

rule-providers:
  Disney+:
    {
      type: http,
      behavior: classical,
      path: ./Filter/DisneyPlus,
      url: https://ghproxy.com/https://raw.githubusercontent.com/pzg417/rules/111a98098ff7a293080d3727f88bb32e5052ceca/Disney_Plus,
      interval: 3600,
    }
